<h1>Listing clubs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clubs.each do |club| %>
  <tr>
    <td><%= link_to 'Show', club %></td>
    <td><%= link_to 'Edit', edit_club_path(club) %></td>
    <td><%= link_to 'Destroy', club, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% link_to 'New Club', new_club_path %>
<form><label for="svrf">SvRF number</label><input type="text" name="svrf" value="" id="svrf"/>
<input type="button" name="search1" value="meetings" id="search1" onclick="location='/clubs/meetings/'+this.form.svrf.value"/>
<input type="button" name="search2" value="starts" id="search2" onclick="location='/clubs/starts/'+this.form.svrf.value"/></form>
